h1 {
    text-align: center;
    font-size: 40px;
    margin: auto;
}

body {
    background-color: #fdf5e6;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

.kitchen img {
    display: flex;
    width: 90em;
    height: 40em;
    margin: auto;
}